*{
margin:0 ;
padding:0 ;
box-sizing:border-box;
}
header {
  background-color :antiquewhite;
  color:blueviolet;
  height: 70px;
  text-align: center
  }
  li a {
    color: blueviolet;
    text-decoration: #fff;
  }
li {
  display: inline;
  padding: 40px;
}
 div {
   font-size: 40px;
 }
 main {
   text-align: center;
 }